.navbar-gap {
    padding-top: 3rem;
}

.big-navbar-gap {
    padding-top: 20rem;
}

.med-navbar-gap {
    padding-top: 15rem;
}

.logo-text {
    height: 64px;
}

.logo-wrapper {
    display: block;
}